
fastgithub_win-x64/dnscrypt-proxy/dnscrypt-proxy.toml
fastgithub_win-x64/cacert/fastgithub.cer
fastgithub_win-x64/cacert/fastgithub.key
fastgithub_win-x64/dnscrypt-proxy/public-resolvers.md
fastgithub_win-x64/dnscrypt-proxy/public-resolvers.md.minisig
fastgithub_win-x64/dnscrypt-proxy/relays.md
fastgithub_win-x64/dnscrypt-proxy/relays.md.minisig
fastgithub_win-x64/dnsendpoints.json
fastgithub_win-x64/logs/log20250606.txt
*.txt
fastgithub_win-x64/dnscrypt-proxy/dnscrypt-proxy.toml
